In [5]:
import pandas as pd
a={'cars':["BMW","VOLVO"],'price':[50,60]}
b=pd.DataFrame(a)
print(b)

    cars  price
0    BMW     50
1  VOLVO     60

In [7]:
a=pd.read_csv('vt.csv')
print(a)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0       NaN
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [3]:
import pandas as pd
a=pd.read_csv('vt.csv')
print(a.to_string())

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0       NaN
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [10]:
a.head(10)

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2020/12/01'    110     130.0       NaN
1        60  2020/12/02'    117     145.0     479.0
2        60  2020/12/03'    103     135.0     340.0
3       450  2020/12/04'    109     175.0     201.0
4        45  2020/12/05'    117     148.0      62.0
5        60  2020/12/06'    102     127.5      77.0
6        60  2020/12/07'    110     136.0     216.0
7        45  2020/12/08'    104     134.0     253.0
8        30     20201209    109     133.0       NaN
9        60  2020/12/10'     98     124.0     269.0

In [12]:
a.tail(3)

    Duration         Date  Pulse  Maxpulse  Calories
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0

In [13]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
Duration    13 non-null int64
Date        13 non-null object
Pulse       13 non-null int64
Maxpulse    13 non-null float64
Calories    11 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 600.0+ bytes

In [2]:
import pandas as pd
read=pd.read_csv('vt.csv')
print(read.info())
print(read)


mean=read['Calories'].mean()
print(mean)
read['Calories'].fillna(mean,inplace=True)
print(read)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
Duration    13 non-null int64
Date        13 non-null object
Pulse       13 non-null int64
Maxpulse    13 non-null float64
Calories    11 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 600.0+ bytes
None
    Duration         Date  Pulse  Maxpulse  Calories
0         60  2020/12/01'    110     130.0       NaN
1         60  2020/12/02'    117     145.0     479.0
2         60  2020/12/03'    103     135.0     340.0
3        450  2020/12/04'    109     175.0     201.0
4         45  2020/12/05'    117     148.0      62.0
5         60  2020/12/06'    102     127.5      77.0
6         60  2020/12/07'    110     136.0     216.0
7         45  2020/12/08'    104     134.0     253.0
8         30     20201209    109     133.0       NaN
9         60  2020/12/10'     98     124.0     269.0
10        60  2020/12/11'    103     147.0     329.0
11        60  2020/12/12'    100     120.0     250.0
12        60  2020/12/12'    100     120.0     250.0
247.8181818181818
    Duration         Date  Pulse  Maxpulse    Calories
0         60  2020/12/01'    110     130.0  247.818182
1         60  2020/12/02'    117     145.0  479.000000
2         60  2020/12/03'    103     135.0  340.000000
3        450  2020/12/04'    109     175.0  201.000000
4         45  2020/12/05'    117     148.0   62.000000
5         60  2020/12/06'    102     127.5   77.000000
6         60  2020/12/07'    110     136.0  216.000000
7         45  2020/12/08'    104     134.0  253.000000
8         30     20201209    109     133.0  247.818182
9         60  2020/12/10'     98     124.0  269.000000
10        60  2020/12/11'    103     147.0  329.000000
11        60  2020/12/12'    100     120.0  250.000000
12        60  2020/12/12'    100     120.0  250.000000

In [15]:
read['Date']=pd.to_datetime(read['Date'])
read.loc[3,'Duration']=45
print(read.duplicated())
read.drop_duplicates(inplace=True)
read['Pulse']=read['Pulse'].astype('float64')
print(read)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool
    Duration       Date  Pulse  Maxpulse    Calories
0         60 2020-12-01  110.0     130.0  247.818182
1         60 2020-12-02  117.0     145.0  479.000000
2         60 2020-12-03  103.0     135.0  340.000000
3         45 2020-12-04  109.0     175.0  201.000000
4         45 2020-12-05  117.0     148.0   62.000000
5         60 2020-12-06  102.0     127.5   77.000000
6         60 2020-12-07  110.0     136.0  216.000000
7         45 2020-12-08  104.0     134.0  253.000000
8         30 2020-12-09  109.0     133.0  247.818182
9         60 2020-12-10   98.0     124.0  269.000000
10        60 2020-12-11  103.0     147.0  329.000000
11        60 2020-12-12  100.0     120.0  250.000000